@*@model IEnumerable<TheWorld.Models.Trip>*@
@{ViewBag.Title = "Let's Explore the World!"; }

<div class="row">
    <div class="col-md-12">
        <h1>Welcome to the World tour</h1>
        <p>This app will allow you to manage your world trips.</p>
        <a asp-controller="App" asp-action="tours"
           style="border:5px #e2e2e2 solid;background:#000; color:#ff6a00;" class="btn btn-lg">View My Trips</a>
    </div>
</div>