@{ViewBag.Title = "Let's Explore the World!";}

<form action="" method="">
    <div>
        <label for="Date">Date</label>
        <input type="date" />
    </div>
    <div>
        <label for="location">Location</label>
        <input type="text" />
    </div>
    <div>
        <input type="submit" value="Add" />
    </div>
</form>